
.horizontal_config_line {
    height: 3;
    align-vertical: middle;
}

.horizontal_config_line Label, .horizontal_config_line Static {
    padding: 1;
}

#hoard_path_input {
    width: 50%;
}

Static {
    width: auto;
}

HoardTreeWidget {
    width: 50%;
    height: auto;
}

/* Node description */
.desc_section {
    padding-top: 1;
}

.remote_location {
    margin-left: 1;
}
